<div class="toolbar">
  <span>
    <input type="text" pInputText placeholder="Search...">
  </span>
  <button pButton type="button" icon="fa-ellipsis-v"></button>
  <button pButton type="button" icon="fa-search"></button>
</div>
<div class="grid-wrapper">
  <ag-grid-angular [gridOptions]="gridOptions"
                   [rowData]="page.content"
                   [rowHeight]=20
                   [pagination]=true
                   [headerHeight]="35"
                   (gridReady)="gridReady()"
                   class="str ag-theme-material"
  >
  </ag-grid-angular>
</div>
<div class="toolbar-bottom">
  <button pButton type="button" icon="fa-upload"></button>
  <button pButton type="button" icon="fa-download"></button>
  <button pButton type="button" icon="fa-trash"></button>
  <button pButton type="button" icon="fa-copy"></button>
  <button pButton type="button" icon="fa-edit"></button>
  <button pButton type="button" icon="fa-plus"></button>
</div>
