<p-panel class="flexbox-wrapper flex padding" header="Films">
  <div class="toolbar">
    <span>
      <label>Name</label>
      <input pinputtext="" type="text">
    </span>
    <button pButton type="button" icon="fa-search"></button>
  </div>
  <ag-grid-angular [gridOptions]="gridOptions"
                   [rowData]="page.content"
                   [rowHeight]=20
                   [pagination]=true
                   [headerHeight]="35"
                   (gridReady)="gridReady()"
                   class="str ag-theme-material"
  >
  </ag-grid-angular>
</p-panel>

