.app-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.center {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
}

.north {
  display: flex;
}

.main {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media screen and (max-width: 40em) {
  .aside {
    position: absolute;
    top: 0;
    bottom: 0;

    &:not(.active) {
      display: none;
    }
  }
}
